@charset "utf-8"

body{
	font-family: 'Dancing Script', cursive;
}

* {
	margin: 0px;
	padding: 0px;
}


#nav {
	background: white;
	width: : 100%;
	height: 60px;
	line-height: 60px;
}

#nav h1 {
	float: left;
}

#nav h1 a {
	text-decoration: none;
	color: skyblue;
	margin-left: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
}
#nav ul {
	float: right;
}

#nav ul li {
text-decoration: none;
list-style-type: none;
display: inline-block;
}

#nav ul li a {
	text-decoration: none;
	color: hotpink;
	padding: 25px;
}

#nav ul li :hover {
	background: lightblue;
	transition: all ease-in-out 0.40s;
}

#hello {
	background: skyblue;
}

#hello1 {
	background: pink;
	height: 5px;
}

#hello2 {
background: url(images/maribor.jpg) no-repeat;
width: 100%;
height:600px;
background-position: center;
background-size: cover;
}

#hello3 {
font-family: 'Open Sans Condensed', sans-serif;
color: white;
text-shadow: currentColor;
float: center;
text-align: center;

}

#hello5 {
  background: url(images/maribor.jpg) no-repeat; 
width: 100%;
height:600px;
text.align: center;
font-family: 'Dancing Script', cursive;
background-position: center;
background-size: cover;
img:hover 
  opacity: 0.5;

}

#hello7 {
width: 100%;
height:600px;
background-position: center;
background-size: cover;
img:hover 
  opacity: 0.5;

}

#hello6 {
font-family: 'Open Sans Condensed', sans-serif;
color: black;
float: right;
text-align: center;
}



#hello7{

}

.container {
  position: relative;
  width: 800px; /* Maximum width */
  margin: left; /* Center it */

}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: all; /* Full width */
  padding: 20px; /* Some padding */
  object-position: left;
}

#hello9 {
	padding-top: all;
font-family: 'Open Sans Condensed', sans-serif;
color: black;
float: left;
text-align: center;
margin-left: center;

}


